main{
    height: 1300px;
    padding-top: 100px;
}
.main-one{
    height: 500px;
    background: cyan;
}

.main-sec{
    height: 200px;
    background: rgb(0, 162, 255);
}

.main-thr{
    height: 400px;
    background: rgb(0, 255, 98);
}